:root {
    --color-main: #2B4074;
    --color-light: #FFFFFF;
    --color-text-color: #4A4A4A;
    --color-active: #7EBF84;
    
    --margin-news: 24px;
    --speed-slow: 0.5s;
    --speed-fast: 0.3s;
}